// * Header #101010 + #e52354 (hover)
// * Background d'un post au hover #f0f0f0
// * Titre #000
// * Category #e52354 + #fff
// * Content #777
// * Footer #101010 + #ccc

$active-color: #e52354;
$content-color: #777;
$dark-color: #101010;
$hover-post-color: #f0f0f0;
$content-light-color: #ccc;
$title-color: #000;
$light-color: #fff;
