// On importe le fichier avec les différentes variables
@import 'src/styles/vars';

.post {
  width: 50%;
  padding: 2em;
  cursor: pointer;
  line-height: 1.5;

  &:hover {
    background-color: $hover-post-color;
  }

  &-title, &-category {
    text-transform: uppercase;
  }

  &-title {
    font-family: Oswald, sans-serif;
    color: $title-color;
    font-size: 1.6em;
  }

  &-category {
    background-color: $active-color;
    color: $light-color;
    display: inline-block;
    padding: .5em .8em;
    font-size: .7em;
    margin: .5em 0;
  }

  &-excerpt {
    font-weight: 300;
  }
}
